    <section class="u-clearfix u-image u-parallax u-shading u-section-1" id="sec-b5dd">
        <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
            <div class="u-container-style u-expanded-width-xs u-group u-group-1">
                <div class="u-container-layout u-valign-bottom">
                    <h1 class="u-custom-font u-font-oswald u-text u-title u-text-1" data-animation-name="slideIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="Up">Mahasiswa
                        Coding</h1>
                    <p class="u-text u-text-2" data-animation-name="slideIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="Up">BELAJAR
                        PEMROGRAMAN
                        TIDAK
                        PERLU
                        REPOT</p>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-bd00">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h1 class="u-text u-text-default-lg u-text-default-md u-text-default-xl u-text-1">Mau
                belajar
                apa?</h1>
            <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-spacing-vertical u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-20 u-size-20-md u-layout-cell-1">
                            <div class="u-container-layout u-valign-middle u-container-layout-1"><span class="u-align-center u-icon u-icon-circle u-palette-1-base u-spacing-10 u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style="undefined">
                                        <use xlink:href="#svg-e3cc"></use>
                                    </svg><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-e3cc" style="enable-background:new 0 0 512 512;">
                                        <path style="fill:#8F9ED1;" d="M512,256c0,15.485-1.379,30.647-4.012,45.369C486.578,421.115,381.9,512,256,512  c-94.856,0-177.664-51.587-221.884-128.24c-10.794-18.693-19.278-38.87-25.088-60.155C3.135,302.07,0,279.395,0,256  C0,114.615,114.615,0,256,0c116.694,0,215.144,78.075,245.979,184.842C508.5,207.433,512,231.309,512,256z"></path>
                                        <g>
                                            <path style="fill:#F2F2F2;" d="M130.173,178.239H35.892L9.028,323.605c5.81,21.285,14.294,41.462,25.088,60.155h8.746   l10.407-56.299h51.806c63.08,0,80.039-56.633,84.104-84.449C193.254,215.207,172.91,178.239,130.173,178.239z M143.851,247.703   c-2.309,15.768-13.96,47.877-49.716,47.877H59.162l15.632-84.605h35.6C145.095,210.975,146.16,231.936,143.851,247.703z"></path>
                                            <path style="fill:#F2F2F2;" d="M501.979,184.842c-8.014-4.138-17.565-6.604-28.599-6.604h-94.281L341.117,383.76h44.951   l10.407-56.299h51.806c28.056,0,46.989-11.201,59.705-26.091C510.621,286.647,512,271.485,512,256   C512,231.309,508.5,207.433,501.979,184.842z M487.058,247.703c-2.309,15.768-13.96,47.877-49.727,47.877h-34.962l15.632-84.605   h35.6C488.302,210.975,489.367,231.936,487.058,247.703z"></path>
                                            <path style="fill:#F2F2F2;" d="M309.238,178.919c-18.295,0-42.704,0-54.597,0l10.248-55.451h-44.766L182.14,328.984h44.766   l21.843-118.186c8.07,0,18.79,0,28.61,0c18.991,0,31.879,4.07,29.165,21.705c-2.713,17.635-18.313,95.636-18.313,95.636h45.444   c0,0,17.635-86.818,20.348-111.237C356.717,192.484,334.334,178.919,309.238,178.919z"></path>
                                        </g>
                                    </svg></span>
                                <h3 class="u-align-center u-custom-font u-font-oswald u-text u-text-2">PHP</h3>
                            </div>
                        </div>
                        <div class="u-align-left u-container-style u-layout-cell u-size-20 u-size-20-md u-layout-cell-2">
                            <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-2"><span class="u-align-center u-icon u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style="undefined">
                                        <use xlink:href="#svg-0f7b"></use>
                                    </svg><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-0f7b" style="enable-background:new 0 0 512 512;">
                                        <path style="fill:#F2F2F2;" d="M512,256c0,82.317-38.86,155.564-99.234,202.397C369.455,492.001,315.068,512,256,512  s-113.455-19.999-156.766-53.603C38.86,411.564,0,338.317,0,256C0,114.615,114.615,0,256,0S512,114.615,512,256z"></path>
                                        <path style="fill:#006BC0;" d="M441.992,119.474l-29.226,338.923C369.455,492.001,315.068,512,256,512  s-113.455-19.999-156.766-53.603L70.008,119.474H441.992z"></path>
                                        <polygon style="fill:#0096DC;" points="255.997,151.338 255.997,505.296 378.269,470.777 405.545,151.338 "></polygon>
                                        <polygon style="fill:#FFFFFF;" points="364.036,289.787 275.85,289.787 367.999,242.89 371.981,195.746 140.013,195.746   144.072,243.811 237.189,243.811 147.845,288.484 152.002,337.723 152.002,337.723 311.376,337.723 306.152,396.366 255.997,409.95   203.752,395.321 202.446,358.75 153.778,358.75 159.866,430.848 255.997,458.015 352.127,430.848 364.039,289.779 "></polygon>
                                        <g>
                                            <polygon style="fill:#222123;" points="165.352,67.224 165.352,33.787 213.417,33.787 213.417,15.676 147.937,15.676    147.937,85.335 213.417,85.335 213.417,67.224  "></polygon>
                                            <polygon style="fill:#222123;" points="241.542,42.93 241.542,34.57 289.347,34.57 289.347,33.787 289.347,15.676 223.866,15.676    223.866,58.864 270.799,58.864 270.799,67.224 223.866,67.224 223.866,85.335 289.347,85.335 289.347,67.224 289.347,42.93  "></polygon>
                                            <polygon style="fill:#222123;" points="316.252,42.93 316.252,34.57 364.056,34.57 364.056,33.787 364.056,15.676 298.576,15.676    298.576,58.864 345.509,58.864 345.509,67.224 298.576,67.224 298.576,85.335 364.056,85.335 364.056,67.224 364.056,42.93  "></polygon>
                                        </g>
                                    </svg></span>
                                <h3 class="u-align-center u-custom-font u-font-oswald u-text u-text-3">CSS</h3>
                            </div>
                        </div>
                        <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-20 u-size-20-md u-layout-cell-3">
                            <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-3"><span class="u-align-center u-icon u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style="undefined">
                                        <use xlink:href="#svg-a081"></use>
                                    </svg><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-a081" style="enable-background:new 0 0 512 512;">
                                        <path style="fill:#E4BA42;" d="M512,256c0,33.353-6.374,65.212-17.983,94.438c-6.207,15.632-13.908,30.511-22.936,44.45  c-11.243,17.387-24.545,33.322-39.549,47.449c-8.788,8.286-18.15,15.945-28.035,22.925C361.806,494.707,310.93,512,256,512  s-105.806-17.293-147.498-46.738c-12.372-8.735-23.928-18.526-34.534-29.268C28.233,389.757,0,326.165,0,256  S28.233,122.243,73.968,76.006c11.233-11.368,23.531-21.682,36.728-30.793C151.97,16.697,202.031,0,256,0  s104.03,16.697,145.304,45.213c10.083,6.949,19.634,14.618,28.588,22.925c15.684,14.503,29.539,30.96,41.19,48.974  c9.028,13.939,16.729,28.818,22.936,44.45C505.626,190.788,512,222.647,512,256z"></path>
                                        <g>
                                            <path style="fill:#F2F2F2;" d="M391.05,232.97c-7.125-20.664-36.341-20.664-42.04-3.563c-5.7,17.101,13.539,27.076,43.466,37.053   c29.927,9.976,48.454,36.341,44.891,59.854s-13.539,54.154-72.68,54.154c-36.963,0-57.505-23.103-67.714-40.429l33.511-20.138   c0,0,11.401,24.227,32.777,24.227c21.377,0,29.927-7.125,29.927-23.514c0-19.951-69.118-27.076-79.806-61.279   s3.563-82.656,53.441-79.094c31.175,2.227,48.71,17.535,57.478,28.703L391.05,232.97z"></path>
                                            <path style="fill:#F2F2F2;" d="M235.714,183.805c0,0,0,120.421,0,136.81c0,16.388-14.251,24.94-28.502,22.089   c-14.251-2.85-20.664-19.951-20.664-19.951l-32.777,22.089c0,0,7.125,32.777,52.016,35.628   c44.891,2.85,70.542-24.227,70.542-47.029s0-149.636,0-149.636L235.714,183.805L235.714,183.805z"></path>
                                            <path style="fill:#F2F2F2;" d="M73.968,45.213v390.781c10.606,10.742,22.162,20.532,34.534,29.268h294.996   c9.885-6.98,19.247-14.639,28.035-22.925H96.893V68.138h374.188v326.75c9.028-13.939,16.729-28.818,22.936-44.45V45.213H73.968z"></path>
                                        </g>
                                        <circle style="fill:#3F4A43;" cx="87.855" cy="339.143" r="40.615"></circle>
                                    </svg></span>
                                <h3 class="u-align-center u-custom-font u-font-oswald u-text u-text-4">Javascript</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-section-3" id="carousel_d207">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-spacing-vertical u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-20 u-size-20-md u-layout-cell-1">
                            <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-1"><span class="u-align-center u-file-icon u-icon u-icon-1"><img src="images/logo-bootstrap.png" alt=""></span>
                                <h3 class="u-align-center u-custom-font u-font-oswald u-text u-text-1">Bootstrap</h3>
                            </div>
                        </div>
                        <div class="u-align-left u-container-style u-layout-cell u-size-20 u-size-20-md u-layout-cell-2">
                            <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-xs u-container-layout-2"><span class="u-align-center u-file-icon u-icon u-icon-2"><img src="images/codeigniter.svg" alt=""></span>
                                <h3 class="u-align-center u-custom-font u-font-oswald u-text u-text-2">Codeigniter</h3>
                            </div>
                        </div>
                        <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-20 u-size-20-md u-layout-cell-3">
                            <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-3"><span class="u-align-center u-icon u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512.001 512.001" style="undefined">
                                        <use xlink:href="#svg-3ad4"></use>
                                    </svg><svg class="u-svg-content" viewBox="0 0 512.001 512.001" x="0px" y="0px" id="svg-3ad4" style="enable-background:new 0 0 512.001 512.001;">
                                        <g>
                                            <path style="fill:#37474F;" d="M106.689,0.001c-5.891,0-10.667,4.776-10.667,10.667v42.667c0,5.891,4.776,10.667,10.667,10.667   c5.891,0,10.667-4.776,10.667-10.667V10.667C117.356,4.776,112.58,0.001,106.689,0.001z"></path>
                                            <path style="fill:#37474F;" d="M149.355,42.667h-42.667c-5.891,0-10.667-4.776-10.667-10.667s4.776-10.667,10.667-10.667h42.667   c5.891,0,10.667,4.776,10.667,10.667S155.247,42.667,149.355,42.667z"></path>
                                            <path style="fill:#37474F;" d="M149.355,64.001c-5.891,0-10.667-4.776-10.667-10.667V10.667c0-5.891,4.776-10.667,10.667-10.667   c5.891,0,10.667,4.776,10.667,10.667v42.667C160.022,59.225,155.247,64.001,149.355,64.001z"></path>
                                            <path style="fill:#37474F;" d="M234.689,21.334h-42.667c-5.891,0-10.667-4.776-10.667-10.667s4.776-10.667,10.667-10.667h42.667   c5.891,0,10.667,4.776,10.667,10.667S240.58,21.334,234.689,21.334z"></path>
                                            <path style="fill:#37474F;" d="M213.355,64.001c-5.891,0-10.667-4.776-10.667-10.667V10.667c0-5.891,4.776-10.667,10.667-10.667   c5.891,0,10.667,4.776,10.667,10.667v42.667C224.022,59.225,219.247,64.001,213.355,64.001z"></path>
                                            <path style="fill:#37474F;" d="M341.355,64.001c-5.891,0-10.667-4.776-10.667-10.667V42.667l-12.8,17.067   c-3.878,4.713-10.842,5.39-15.555,1.512c-0.552-0.454-1.058-0.96-1.512-1.512l-12.8-17.067v10.667   c0,5.891-4.776,10.667-10.667,10.667c-5.891,0-10.667-4.776-10.667-10.667V10.667c0-5.891,4.776-10.667,10.667-10.667   c3.357,0,6.519,1.581,8.533,4.267l23.467,31.275l23.467-31.275c3.535-4.713,10.221-5.668,14.933-2.133   c2.686,2.014,4.267,5.176,4.267,8.533v42.667C352.022,59.225,347.247,64.001,341.355,64.001z"></path>
                                            <path style="fill:#37474F;" d="M416.022,64.001h-32c-5.891,0-10.667-4.776-10.667-10.667V10.667   c0-5.891,4.776-10.667,10.667-10.667c5.891,0,10.667,4.776,10.667,10.667v32h21.333c5.891,0,10.667,4.776,10.667,10.667   S421.913,64.001,416.022,64.001z"></path>
                                        </g>
                                        <path style="fill:#FF5722;" d="M434.582,110.166c-2.02-2.227-4.887-3.497-7.893-3.499H85.355  c-5.891-0.026-10.688,4.728-10.714,10.619c-0.002,0.351,0.014,0.701,0.047,1.05l32,341.333c0.413,4.379,3.471,8.055,7.701,9.259  l149.333,42.667c0.964,0.274,1.963,0.41,2.965,0.405c1.144-0.001,2.282-0.181,3.371-0.533l128-42.667  c4.015-1.336,6.86-4.918,7.253-9.131l32-341.333C437.592,115.35,436.601,112.384,434.582,110.166z"></path>
                                        <path style="fill:#FAFAFA;" d="M266.689,426.667c-0.989-0.006-1.973-0.15-2.923-0.427L189.1,404.907  c-3.665-1.043-6.495-3.963-7.424-7.659l-10.667-42.667c-1.558-5.681,1.785-11.55,7.466-13.108c5.681-1.558,11.55,1.785,13.108,7.466  c0.044,0.159,0.083,0.318,0.119,0.479l9.173,36.693l65.579,18.731l54.315-18.112l8.789-88.064H170.689  c-5.404,0.043-9.986-3.962-10.667-9.323l-10.667-85.333c-0.742-5.844,3.393-11.183,9.237-11.926c0.474-0.06,0.952-0.089,1.429-0.085  h202.667c5.891,0,10.667,4.776,10.667,10.667c0,5.891-4.776,10.667-10.667,10.667H172.097l8,64h161.259  c5.891-0.03,10.69,4.722,10.72,10.613c0.002,0.374-0.016,0.748-0.053,1.12l-10.667,106.667c-0.414,4.183-3.245,7.733-7.232,9.067  l-64,21.333C269.014,426.492,267.855,426.673,266.689,426.667z"></path>
                                    </svg></span>
                                <h3 class="u-align-center u-custom-font u-font-oswald u-text u-text-3">HTML</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-valign-top-xs u-white u-section-4" id="sec-c797">
        <img class="u-expanded-width u-image u-image-1" src="images/3b91742c7e026b49e43d4d9e3bc6edf4.jpeg">
        <div class="u-container-style u-group u-group-1">
            <div class="u-container-layout">
                <h2 class="u-custom-font u-font-oswald u-text u-text-body-alt-color u-text-1">Artikel
                    Terbaru</h2>
            </div>
        </div>
        <div class="u-clearfix u-gutter-20 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-align-left-sm u-align-left-xs u-container-style u-layout-cell u-left-cell u-size-20 u-size-20-md u-layout-cell-1">
                        <div class="u-container-layout">
                            <img class="u-expanded-width u-image u-image-2" src="images/3fc11f88a285d97ae68cff4fb70747c6.jpeg">
                            <h6 class="u-custom-font u-font-oswald u-text u-text-2">PHP
                                Dasar</h6>
                            <p class="u-text u-text-3">Sample
                                text.
                                Lorem
                                ipsum
                                dolor
                                sit
                                amet,
                                consectetur
                                adipiscing
                                elit
                                nullam
                                nunc
                                justo
                                sagittis
                                suscipit
                                ultrices.</p>
                        </div>
                    </div>
                    <div class="u-align-left-sm u-align-left-xs u-container-style u-layout-cell u-size-20 u-size-20-md u-layout-cell-2">
                        <div class="u-container-layout">
                            <img class="u-expanded-width u-image u-image-3" src="images/55a159ed5c60911252abd3ac4e5ce805.jpeg">
                            <h6 class="u-custom-font u-font-oswald u-text u-text-4">Cara
                                Membuat
                                Session</h6>
                            <p class="u-text u-text-5">Sample
                                text.
                                Lorem
                                ipsum
                                dolor
                                sit
                                amet,
                                consectetur
                                adipiscing
                                elit
                                nullam
                                nunc
                                justo
                                sagittis
                                suscipit
                                ultrices.</p>
                        </div>
                    </div>
                    <div class="u-align-left-sm u-align-left-xs u-container-style u-layout-cell u-right-cell u-size-20 u-size-20-md u-layout-cell-3">
                        <div class="u-container-layout">
                            <img class="u-expanded-width u-image u-image-4" src="images/33496b61e8c69d633c310dadab3f03dd.jpeg">
                            <h6 class="u-custom-font u-font-oswald u-text u-text-6">Apa
                                itu
                                cookie?</h6>
                            <p class="u-text u-text-7">Sample
                                text.
                                Lorem
                                ipsum
                                dolor
                                sit
                                amet,
                                consectetur
                                adipiscing
                                elit
                                nullam
                                nunc
                                justo
                                sagittis
                                suscipit
                                ultrices.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-black u-clearfix u-section-5" id="sec-fb80">
        <div class="u-clearfix u-sheet u-valign-middle-xl u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                            <div class="u-container-layout u-container-layout-1">
                                <h6 class="u-align-center-sm u-align-center-xs u-text u-text-white u-text-1">Bergabung
                                    dengan
                                    kelas
                                    kami</h6>
                                <h2 class="u-align-center-sm u-align-center-xs u-text u-text-white u-text-2">Hubungi
                                    :</h2>
                                <p class="u-align-center-sm u-align-center-xs u-text u-text-white u-text-3">Whatsapp:
                                    082135276133<br>Email:
                                    Muhammad.madum2018@gmail<a href="#" target="_blank">.com</a>
                                </p>
                                <div class="u-align-center-sm u-align-center-xs u-social-icons u-spacing-20 u-social-icons-1">
                                    <a class="u-social-url" target="_blank" href=""><span class="u-icon u-icon-circle u-social-facebook u-social-icon u-icon-1">
                                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style="">
                                                <use xlink:href="#svg-50ee"></use>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 112 112" x="0px" y="0px" id="svg-50ee">
                                                <path d="M75.5,28.8H65.4c-1.5,0-4,0.9-4,4.3v9.4h13.9l-1.5,15.8H61.4v45.1H42.8V58.3h-8.8V42.4h8.8V32.2 c0-7.4,3.4-18.8,18.8-18.8h13.8v15.4H75.5z"></path>
                                            </svg>
                                        </span>
                                    </a>
                                    <a class="u-social-url" target="_blank" href=""><span class="u-icon u-icon-circle u-social-icon u-social-twitter u-icon-2">
                                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style="">
                                                <use xlink:href="#svg-d346"></use>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 112 112" x="0px" y="0px" id="svg-d346">
                                                <path d="M92.2,38.2c0,0.8,0,1.6,0,2.3c0,24.3-18.6,52.4-52.6,52.4c-10.6,0.1-20.2-2.9-28.5-8.2 c1.4,0.2,2.9,0.2,4.4,0.2c8.7,0,16.7-2.9,23-7.9c-8.1-0.2-14.9-5.5-17.3-12.8c1.1,0.2,2.4,0.2,3.4,0.2c1.6,0,3.3-0.2,4.8-0.7 c-8.4-1.6-14.9-9.2-14.9-18c0-0.2,0-0.2,0-0.2c2.5,1.4,5.4,2.2,8.4,2.3c-5-3.3-8.3-8.9-8.3-15.4c0-3.4,1-6.5,2.5-9.2 c9.1,11.1,22.7,18.5,38,19.2c-0.2-1.4-0.4-2.8-0.4-4.3c0.1-10,8.3-18.2,18.5-18.2c5.4,0,10.1,2.2,13.5,5.7c4.3-0.8,8.1-2.3,11.7-4.5 c-1.4,4.3-4.3,7.9-8.1,10.1c3.7-0.4,7.3-1.4,10.6-2.9C98.9,32.3,95.7,35.5,92.2,38.2z"></path>
                                            </svg>
                                        </span>
                                    </a>
                                    <a class="u-social-url" target="_blank" href=""><span class="u-icon u-icon-circle u-social-icon u-social-instagram u-icon-3">
                                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style="">
                                                <use xlink:href="#svg-dd2a"></use>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 112 112" x="0px" y="0px" id="svg-dd2a">
                                                <path d="M55.9,32.9c-12.8,0-23.2,10.4-23.2,23.2s10.4,23.2,23.2,23.2s23.2-10.4,23.2-23.2S68.7,32.9,55.9,32.9z M55.9,69.4c-7.4,0-13.3-6-13.3-13.3c-0.1-7.4,6-13.3,13.3-13.3s13.3,6,13.3,13.3C69.3,63.5,63.3,69.4,55.9,69.4z"></path>
                                                <path d="M79.7,26.8c-3,0-5.4,2.5-5.4,5.4s2.5,5.4,5.4,5.4c3,0,5.4-2.5,5.4-5.4S82.7,26.8,79.7,26.8z"></path>
                                                <path d="M78.2,11H33.5C21,11,10.8,21.3,10.8,33.7v44.7c0,12.6,10.2,22.8,22.7,22.8h44.7c12.6,0,22.7-10.2,22.7-22.7 V33.7C100.8,21.1,90.6,11,78.2,11z M91,78.4c0,7.1-5.8,12.8-12.8,12.8H33.5c-7.1,0-12.8-5.8-12.8-12.8V33.7 c0-7.1,5.8-12.8,12.8-12.8h44.7c7.1,0,12.8,5.8,12.8,12.8V78.4z"></path>
                                            </svg>
                                        </span>
                                    </a>
                                    <a class="u-social-url" target="_blank" href=""><span class="u-icon u-icon-circle u-social-google u-social-icon u-icon-4">
                                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style="">
                                                <use xlink:href="#svg-102d"></use>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 112 112" x="0px" y="0px" id="svg-102d">
                                                <path d="M62.2,81.6c-8.6,11.2-24.6,14.4-37.6,10C10.9,87,0.8,73.2,1,58.5c-0.8-18,15.2-34.6,33.1-34.9 c9.2-0.8,18.2,2.7,25,8.6c-2.9,3.1-5.7,6.2-8.9,9.2c-6.2-3.8-13.5-6.5-20.6-4C18.1,40.7,11,54.2,15.4,65.6 c3.5,11.8,17.8,18.3,29.2,13.2c5.8-2.1,9.7-7.4,11.3-13.2c-6.6-0.1-13.2,0-20.1-0.3c0-3.9,0-7.9,0-11.9c11.2,0,22.2,0,33.3,0 C69.9,63.4,68.3,73.9,62.2,81.6z M110.9,63.7c-3.4,0-6.6,0-10,0c0,3.4,0,6.6,0,10c-3.4,0-6.6,0-10,0c0-3.4,0-6.6,0-10 c-3.4,0-6.6,0-10,0c0-3.4,0-6.6,0-10c3.4,0,6.6,0,10,0c0-3.4,0-6.6,0.1-10c3.4,0,6.6,0,10,0c0,3.4,0,6.6,0,10c3.4,0,6.6,0,10,0 C110.9,56.9,110.9,60.3,110.9,63.7z"></path>
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                            <div class="u-container-layout u-container-layout-2">
                                <div class="u-form u-form-1">
                                    <form action="#" method="POST" class="u-clearfix u-form-spacing-24 u-form-vertical u-inner-form" style="padding: 24px;" source="email" name="form">
                                        <input type="hidden" id="siteId" name="siteId" value="306490">
                                        <input type="hidden" id="pageId" name="pageId" value="306497">
                                        <div class="u-form-group u-form-name">
                                            <label for="name-3b9a" class="u-form-control-hidden u-label u-text-white">Name</label>
                                            <input type="text" placeholder="Masukan Nama Lengkap" id="name-3b9a" name="name" class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-input u-input-rectangle u-input-1" required="" autofocus="autofocus">
                                        </div>
                                        <div class="u-form-email u-form-group">
                                            <label for="email-3b9a" class="u-form-control-hidden u-label u-text-white">Email</label>
                                            <input type="email" placeholder="Masukan Alamat Email" id="email-3b9a" name="email" class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-input u-input-rectangle u-input-2" required="">
                                        </div>
                                        <div class="u-form-group u-form-message">
                                            <label for="message-3b9a" class="u-form-control-hidden u-label u-text-white">Message</label>
                                            <textarea placeholder="Tulis pesanmu" rows="4" cols="50" id="message-3b9a" name="pesan" class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-input u-input-rectangle u-input-3" required=""></textarea>
                                        </div>
                                        <div class="u-align-left u-form-group u-form-submit">
                                            <a href="#" class="u-btn u-btn-round u-btn-submit u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-radius-31 u-btn-1">kirim</a>
                                            <input type="submit" value="submit" class="u-form-control-hidden">
                                        </div>
                                        <div class="u-form-send-message u-form-send-success">
                                            Thank
                                            you!
                                            Your
                                            message
                                            has
                                            been
                                            sent.
                                        </div>
                                        <div class="u-form-send-error u-form-send-message">
                                            Unable
                                            to
                                            send
                                            your
                                            message.
                                            Please
                                            fix
                                            errors
                                            then
                                            try
                                            again.
                                        </div>
                                        <input type="hidden" value="" name="recaptchaResponse">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
